services:
  nextjs:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "npm install && npm run dev"
    volumes:
      - ./:/app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/todo-app
      - NODE_ENV=development
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
    depends_on:
      - postgres

  postgres:
    container_name: postgres-db
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=todo-app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:

